<h2>Napredna pretraga</h2><br>
  
<!-- authors checkbox-ovi -->
<h3>Autor</h3>
<div  class="checkbox-wrapper-27" *ngFor="let author of authors">
  <label class="checkbox">
    <input type="checkbox"
           [value]="author"
           [checked]="selectedAuthors.includes(author)"
           (change)="toggleAuthorSelection(author)">
    <span class="checkbox__icon">{{ author }}</span>
  </label>
</div><br>
  <!-- genres checkbox-ovi -->
<h3>Žanr</h3>
<div class="checkbox-wrapper-27" *ngFor="let genre of genres">
  <label class="checkbox">
    <input type="checkbox"
           [value]="genre"
           [checked]="selectedGenres.includes(genre)"
           (change)="toggleGenreSelection(genre)">
    <span class="checkbox__icon">{{ genre }}</span>
  </label>
</div><br>

<!-- publishers checkbox-ovi -->
<h3>Izdavač</h3>
<div class="checkbox-wrapper-27" *ngFor="let publisher of publishers">
  <label class="checkbox">
    <input type="checkbox"
           [value]="publisher"
           [checked]="selectedPublishers.includes(publisher)"
           (change)="togglePublisherSelection(publisher)">
    <span class="checkbox__icon">{{ publisher }}</span>
  </label>
</div><br>

<!--Filtiranje na osnovu ocena korisnika-->
<label for="rate"><h4>Unesite najmanju ocene knjige:</h4></label>
<input type="number" id="rate" min="0" max="5" [(ngModel)]="rateInput" (ngModelChange)="applyFilter()"> <br>

<h4>Broj strana</h4>
<mat-slider min={{pages.min}} max={{pages.max}} step="10" showTickMarks discrete [displayWith]="formatLabel">
  <input [(ngModel)]="selectedPage" matSliderThumb (ngModelChange)="applyFilter()">
</mat-slider><br>

<h4>Cena</h4>
<mat-slider min={{price.min}} max={{price.max}} step="10" showTickMarks discrete [displayWith]="formatLabel"  >
  <input [(ngModel)]="selectedPrice" matSliderThumb (ngModelChange)="applyFilter()" >
</mat-slider><br>

<h4>Godina izdanja</h4><br>
<mat-slider min={{year.min}} max={{year.max}} step="1" showTickMarks discrete [displayWith]="formatLabel">
  <input [(ngModel)]="selectedYearMin" matSliderStartThumb (ngModelChange)="applyFilter()">
  <input [(ngModel)]="selectedYearMax" matSliderEndThumb (ngModelChange)="applyFilter()">
</mat-slider><br>

<button mat-stroked-button color="warn" (click)="resetFilters()">Resetuj filtere</button>
