<app-header></app-header>


<h2>Korpa</h2>

<body>
  <main>
    <div class="basket">
      <div class="basket-labels" >
        <ul>
          <li class="item item-heading">Knjiga</li>
          <li class="price">Cena</li>
          <li class="quantity">Kolicina</li>
          <li class="subtotal">Ukupno</li>
        </ul>
      </div>
      <div class="basket-product" *ngFor="let cartItem of cartItems">
        <div class="item">
          <div class="product-image">
            <img src={{cartItem.book.img}} alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1><strong><span class="item-quantity">{{cartItem.count}}</span> x {{cartItem.book.name}}</strong></h1>
            <h1>Autor: {{cartItem.book.author}}</h1>
            <h1>Broj strana: {{cartItem.book.pages}}</h1>
            <h1>Žanr: {{cartItem.book.genre}}</h1>
            <h1>Izdavač: {{cartItem.book.publisher}}</h1>
            <h1>Godina izdavanja: {{cartItem.book.year}}</h1>
            <h1>Status: {{cartItem.stage.toString()}}</h1>
            <ng-container *ngIf="checkIsPristiglo(cartItem)">
              <ngb-rating [(rate)]="cartItem.book.rating" [max]="5" [readonly]="onRatingChange(cartItem.book.rating)"></ngb-rating>
            </ng-container>
          </div>
        </div>
        <div class="price">{{cartItem.book.price}}</div>
        <div class="quantity">
          <input type="number" [(ngModel)]="cartItem.count" min="1" class="quantity-field" [disabled]=checkConditionCount(cartItem)>
        </div>
        <div class="subtotal">{{cartItem.book.price * cartItem.count}}</div>
        <div class="remove">
          <button [disabled]=checkConditionRemove(cartItem) (click)=removeCartItem(cartItem)>Ukloni</button>
          <button [disabled]=checkConditionCancel(cartItem) (click)=cancelCartItem(cartItem)>Otkaži</button>
        </div>
      </div>
    </div>
    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> U Vašoj korpi</div>
        <div class="summary-delivery">
          <select name="delivery-collection" class="summary-delivery-selection">
            <option value="0" selected="selected">Odaberi način dostave</option>
             <option value="first-class">Postexpress</option>
             <option value="second-class">Bex dostava</option>
             <option value="signed-for">Aks dostava</option>
          </select>
        </div>
        <div class="summary-total">
          <div class="total-title">Ukupno</div>
          <div class="total-value final-value" id="basket-total">{{this.getTotalPrice()}}</div>
        </div>
        <div class="summary-checkout">
          <button class="checkout-cta" (click)=sendCartItems() [disabled]="!authService.isAuthenticated()">Otpočni dostavu</button>
        </div>
      </div>
    </aside>
  </main>
</body>