<app-header></app-header>

<section class="vh-100">
	<div class="container py-5 h-100">
	  <div class="row d-flex align-items-center justify-content-center h-100">
		<div class="col-md-8 col-lg-7 col-xl-6">
		  <img src="../assets/images/login.jpg"
			class="img-fluid" alt="Phone image" width="500">
		</div>
		<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
		  <form (ngSubmit)="login()">
			<!-- Email input -->
			<div  class="expanded-input" >
				<mat-form-field appearance="fill" class="flex-input">
					<mat-label>Email</mat-label>
					<input matInput type="email" name="email" [(ngModel)]="email">
				</mat-form-field>
				<br>
			</div>
			
			<!-- Password input -->
			<div class="expanded-input">
				<mat-form-field appearance="fill" class="flex-input">
					<mat-label>Password</mat-label>
					<input matInput [type]="showPassword ? 'text' : 'password'" name="password"  [(ngModel)]="password" name="password" >
					<mat-icon matSuffix (click)="togglePasswordVisibility()">
						{{showPassword?'visibility_off':'visibility'}}
					</mat-icon>
				</mat-form-field>
				<br>
			</div>
			

			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-lg btn-block" >Prijavi me</button>
			<br><br><br>
			<div class="d-flex justify-content-around align-items-center mb-4">
			  	<a routerLink="/signup">Nemaš nalog? Registruj se</a>
			</div>

			
		  </form>
		</div>
	  </div>
	</div>
  </section>