#h
{
    width: 100%;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.expanded-input {
    display: flex;
    width: 100%;
  }
  
  .flex-input {
    width: 100%;
  }