
<div class="container" *ngIf = 'book'>
    <div fxLayout = "row wrap" fxLayoutGap = "16px grid" class="box">
        <div fxFlex = "40%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <img class="img-holder" src= {{book.img}}>   
        </div>
        <div>
            <div class="basic-info">
                <h1><b>{{book.name}} </b></h1>
    
                <ngb-rating [rate] = "calculateAverageRating(book.reviews)"  [max]="5" [readonly]="true"></ngb-rating>
                <h2>Autor: <b>{{book.author}}</b></h2>
                <span>{{book.price}} RSD</span>
                <div class="options">
                    <label for="count"><h4>Količina</h4></label>
                    <input type="number" id="count" min="1" max="100" [(ngModel)]="count"> <br>
                    <a><button mat-raised-button color="accent" (click)="addToCart()">Dodaj u korpu</button></a>
                </div>
            </div>
            <div class="description">
                <h4>Broj strana: {{book.pages}}</h4>
                <h4>Žanr: {{book.author}}</h4>
                <h4>Izdavač: {{book.publisher}}</h4>
                <h4>Godina izdavanja: {{book.year}}</h4>
            </div>
            <hr>
            <ul>
                <h2>Recenzije</h2>
                <li *ngFor="let review of book.reviews">
                  <p> <b>Ocena:</b> {{ review.star }}</p>
                  <p><b>Komentar:</b> {{ review.description }}</p>
                  <p><b>Autor:</b> {{ review.author }}</p>
                  <hr>
                </li>
              </ul>

        </div>
        
    </div>

</div>

